* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend", sans-serif;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container geral */
.container {
    width: 90%;
    max-width: 400px;
    text-align: center;
}

/* logo */
.logo h1 {
    color: white;
    font-size: 50px;
    font-family: "Lexend", sans-serif;
    pointer-events: none;
}

.logo p {
    color: rgb(180, 180, 180);
    font-size: 14px;
    margin-bottom: 30px;
    font-family: "Lexend", sans-serif;
    pointer-events: none;
}

/* caixa de login */
.login-box {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 1px 30px rgb(100, 98, 98);
}

/* título */
.login-box h2 {
    color: white;
    margin-bottom: 20px;
    pointer-events: none;
}

/* inputs */
.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    outline: none;
}

/* botão */
.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.login-box a {
    text-decoration: none;
    color: #ffffff;

}

.login-box button:hover {
    background-color: #5f5f5f;
}

/* RESPONSIVO EXTRA */
@media (max-width: 600px) {
    .logo h1 {
        font-size: 35px;
    }

    .login-box {
        padding: 20px;
    }
}

.cadastro {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}   