* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend", sans-serif;
background: radial-gradient(circle at 35% 30%, #888 0%, #333 15%, #111 45%, #000 100%);    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
    text-align: center;

    .logo {
        h1 {
            color: white;
            font-size: 50px;
            font-family: "Lexend", sans-serif;
            pointer-events: none;
        }

        p {
            color: rgb(180, 180, 180);
            font-size: 14px;
            margin-bottom: 30px;
            font-family: "Lexend", sans-serif;
            pointer-events: none;
        }
    }

    .login-box {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 1px 30px rgb(100, 98, 98);

        h2 {
            color: white;
            margin-bottom: 20px;
            pointer-events: none;
        }

        p{
             color: white;
        }
        
        .campos_cadastro {
            text-align: start;

            p {
                margin-bottom: 5px;
                font-size: 13px;
            }

            input {
                width: 100%;
                padding: 12px;
                margin-bottom: 15px;
                border: none;
                border-radius: 6px;
                outline: none;
            }
        }

        .cadastro {
            margin-top: 10px;
            width: 100%;
            padding: 12px;
            background-color: #808080;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: #5f5f5f;
            }
        }

        #mensagem_cadastro_criado {
            display: none;
            color: #ffffff;
            margin-top: 10px;
            font-weight: bold;
            font-family: "Lexend", sans-serif;
            font-size: 12px;
        }
        
        #mensagem_cadastro_erro_dados {
            display: none;
            color: #ffffff;
            margin-top: 10px;
            font-weight: bold;
            font-family: "Lexend", sans-serif;
            font-size: 12px;
        }
        
        #mensagem_cadastro_erro_senha {
            display: none;
            color: #ffffff;
            margin: 10px 0;
            font-weight: bold;
            font-family: "Lexend", sans-serif;
            font-size: 12px;
        }
        
    }
}

@media (max-width: 600px) {
    .container {
        .logo h1 {
            font-size: 35px;
        }

        .login-box {
            padding: 20px;
        }
    }
}